PORT=3000
MONGODB_USER=Karavan
MONGODB_PASSWORD=nx2GsCsY0X5UK0Jl
MONGODB_URL=cluster0.yl4cv6d.mongodb.net
MONGODB_DB=test
JWT_SECRET=a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=9197bc001@smtp-brevo.com
SMTP_PASSWORD=hskQH1b0jDcJXRxZ
SMTP_FROM=kiriannamama@gmail.com

JWT_SECRET_RESET=6c91898cadf418d04078d2fe76bc843a3f5f044596df30d5a4e6421685ef7b9b
APP_DOMAIN=http://localhost:3000 


CLOUDINARY_CLOUD_NAME=dl7h7qemt
CLOUDINARY_API_KEY=216521311657526
CLOUDINARY_API_SECRET=BftPrvsMgAt7-kWN1eIEfjFSW_s
